<div class="row">
  <div class="col-sm-12 col-md-10 mx-auto">
    <div class="chart-wrapper" *ngIf="chartReady">
      <h3>Wykres wartości kursu {{ firstCurrency.code }}/{{ secondCurrency.code }}</h3>
      <canvas baseChart 
          [datasets]="chartData" 
          [labels]="chartLabels" 
          [options]="chartOptions"
          [colors]="chartColors" 
          [legend]="chartLegend" 
          [chartType]="chartType" 
          [plugins]="chartPlugins">
      </canvas>
      <h3>Wykres zmian wartości kursu {{ firstCurrency.code }}/{{ secondCurrency.code }}</h3>
      <canvas baseChart 
          [datasets]="changesChartData" 
          [labels]="chartLabels" 
          [options]="chartOptions"
          [colors]="chartColors" 
          [legend]="chartLegend" 
          [chartType]="chartType" 
          [plugins]="chartPlugins">
      </canvas>
    </div>
  </div>
</div>
