h3 {
  font-size: 1.4em;
  text-align: center;
  margin-bottom: 15px;
}

svg {
  display: inline;
}

table {
  width: 100%;
  margin-bottom: 50px;
  font-size: 1em;
}

thead {
  text-align: center;
}

tr:nth-child(even) { 
  background: rgb(237, 243, 255)
}

tr:nth-child(odd) {
  background: #FFF
}

td {
  padding: 0 5px;
  border: 1px solid #000;
  vertical-align: middle;
  text-align: center;
}

th {
  @extend td;
  background-color: rgb(150, 188, 224);
}

th.date {
  width: 26%;
}

th.rate,
th.change {
  width: 37%;
}

@media only screen and (max-width: 769px) {
  h3 {
    font-size: 1.2em;
  }
  table {
    font-size: .9em;
  }
}
