$primaryColor: #195aad;

h2 {
  width: 100%;
  text-align: center;
}

svg {
  margin-bottom: .8em;
}

p {
  font-size: 1.1em;
  display: inline-block;
  margin-bottom: 0;
}

a {
  cursor: pointer;
}

a.selectTime {
  display: block!important;
}

ul,
ul li {
  display: inline-block;
  padding: 0 5px;
  margin-bottom: 0;
}

.active {
  font-weight: bold;
  text-decoration: underline;
}

.changeTime a,
a.selectTime {
  @extend p;
  @extend a;
  color: $primaryColor;
  &:hover {
    text-decoration: underline;
  }
}

.changeTime {
  padding: 10px;
  text-align: center;
}

.datePicker {
  max-width: 70%;
  display: block;
  margin: auto;
}

.loadingCircle { 
  width: 180px;
  height: 180px;
  margin-right: 5px;
  border-color: rgb(20, 133, 226) rgba(226, 218, 218, 0.1) rgba(226, 218, 218, 0.1);
  border-width: 10px;
  border-style: solid;
  border-radius: 50%;
  animation: spinner .7s infinite linear;
  display: inline-block;
}

.timeRangeError {
  padding: 0;
  margin: 0;
  color: red;
  font-size: .7em;
}

@media only screen and (max-width: 769px) {
  h2 {
    font-size: 1.5em;
  }
  p {
    font-size: 1em;
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg)
  }
  25%{
    transform: rotate(90deg)
  }
  50%{
    transform: rotate(180deg)
  }
  75%{
    transform: rotate(270deg)
  }
  100%{
    transform: rotate(360deg)
  }
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  padding: 0 0.75em 0 .75em!important;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-infix {
  padding: 0.25em 0 0 0!important;
}

::ng-deep *:focus {
  outline: none!important;
}

::ng-deep.mat-form-field-underline {
  background-color: $primaryColor!important;
} 
 
::ng-deep.mat-form-field-ripple {
  background-color: $primaryColor!important;;
}
 
::ng-deep .mat-form-field-label {
  color: $primaryColor!important;
}
 
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: rgba(255,255,255,0.6)!important;
}

::ng-deep .mat-calendar-header {
  padding-top: 0px!important;
}

::ng-deep .mat-form-field-wrapper {
  margin-bottom: -1.34375em!important;
}

mat-datepicker-toggle {
  color: $primaryColor!important;
}
